{% extends 'base.html' %}
{% block titulo %}Equipos Audiovisuales{% endblock %}

{% block encabezado %}
	<h1>Equipos para prestamos</h1>
{% endblock %}

{% block contenido %}
<a class="btn btn-default btn-lg" href="/add_equipo"><span class="glyphicon glyphicon-plus-sign"></span> Equipo</a>
<br>
<br>
<br>
<ul>
	<div class="table-responsive">
	  	<table class="table">
	  		<theader>
	  			<tr>
	  				<th>#</th>
	  				<th>Nombre</th>
	  				<th>Marca</th>
	  				<th>Modelo</th>
	  				<th>Serial</th>
	  				<th>Tipo</th>
	  				<th>Estado</th>
	  				

	  			</tr>
	  		</theader>
    	{% for dato in equipos %}
    		<tbody>
    			<tr>
    				<td>{{dato.id}}</td>
    				<td>{{dato.nombre}}</td>
    				<td>{{dato.marca}}</td>
    				<td>{{dato.modelo}}</td>
    				<td>{{dato.serial}}</td>
    				<td>{{dato.tipo_equipo}}</td>
    				<td>{{dato.estado_equipo}}</td>
    				<td><a class="btn btn-default btn-xs" href="/equipos/{{dato.id}}"><span class="glyphicon glyphicon-search"></span>Ver</a></td>
    				<td><a class="btn btn-default btn-xs" href="/edit/equipos/{{dato.id}}/"><span class="glyphicon glyphicon-search"></span>Editar</a></td>
    			</tr>
    		</tbody>
			 
		{% empty %}
		<p>No hay prestamos activos.</p>
		{% endfor %}
		</table>
	</div>
	
</ul>
{% endblock %}