{% extends 'base.html' %}
{% block titulo %}Equipos Audiovisuales{% endblock %}

{% block encabezado %}
	<h1>Prestamos Activos</h1>
{% endblock %}

{% block contenido %}
<a href="/add_prestamo">Agregar prestamo</a>
<ul>
	<div class="table-responsive">
	  	<table class="table">
	  		<theader>
	  			<tr>
	  				<th>#</th>
	  				<th>Usuario</th>
	  				<th>Fecha Préstamo</th>
	  				<th>Fecha Entrega</th>

	  			</tr>
	  		</theader>
    	{% for dato in prestamos_activos %}
    		<tbody>
    			<tr>
    				<td>{{dato.id}}</td>
    				<td>{{dato.id_persona}}</td>
    				<td>{{dato.fecha_prestamo}}</td>
    				<td>{{dato.fecha_entrega}}</td>
    			</tr>
    		</tbody>
			 
		{% empty %}
		<p>No hay prestamos activos.</p>
		{% endfor %}
		</table>
	</div>
	
</ul>
{% endblock %}