{% extends 'base.html' %}
{% block titulo %}Equipos Audiovisuales{% endblock %}

{% block encabezado %}
	<h1>Historial de Prestamos</h1>
{% endblock %}

{% block contenido %}
<p>Politicas de Reservas: Solo se pueden hacer reservas de equipos con 24 horas de anticipación, excepto que sean casos especiales como para eventos importantes de la universidad o lo requiera alguna subdirección.<p>
<br><br><br>

<ul>
	<div class="table-responsive">
	  	<table class="table">
	  		<theader>
	  			<tr>
	  				<th>#</th>
	  				<th>Usuario</th>
	  				<th>Fecha de Préstamo</th>
	  				<th>Equipos</th>

	  			</tr>
	  		</theader>
    	{% for dato in prestamos %}
    		<tbody>
    			<tr>
    				<td>{{dato.id}}</td>
    				<td>{{dato.id_persona}}</td>
    				<td>{{dato.fecha_prestamo}}</td>
    				{% for equipo in dato.equipos.all %}
    				<td>{{equipo.nombre}}</td>
    				{% endfor %}
    				
    				
    			</tr>
    		</tbody>
			 
		{% empty %}
		<h2>No hay prestamos</h2>
		{% endfor %}
		</table>
	</div>
	
</ul>
{% endblock %}
