{% extends 'base.html' %}
{% block titulo %}Usuarios registrados{% endblock %}

{% block encabezado %}
	<h1>Usuarios</h1>
{% endblock %}

{% block contenido %}
<a class="btn btn-default btn-lg" href="/add_persona"><span class="glyphicon glyphicon-plus-sign"></span> Persona</a>
<br>
<br>
<br>
<ul>
	<div class="table-responsive">
	  	<table class="table">
	  		<theader>
	  			<tr>
	  				<th>#</th>
	  				<th>Código</th>
	  				<th>Documento</th>
	  				<th>Nombre</th>
	  				<th>Primer Apellido</th>
	  				<th>Segundo Apellido</th>
	  				<th>Rol</th>
	  				<th>Programa</th>

	  			</tr>
	  		</theader>
    	{% for dato in usuarios %}
    		<tbody>
    			<tr>
    				<td>{{dato.id}}</td>
    				<td>{{dato.codigo}}</td>
    				<td>{{dato.documento}}</td>
    				<td>{{dato.primer_nombre|capfirst}}</td>
    				<td>{{dato.primer_apellido|capfirst}}</td>
    				<td>{{dato.segundo_apellido|capfirst}}</td>
    				<td>{{dato.rol_id}}</td>
    				<td>{{dato.programa}}</td>
    				<td><a class="btn btn-default btn-xs" href="/usuarios/{{dato.id}}"><span class="glyphicon glyphicon-search"></span>Ver</a></td>
    				<td><a class="btn btn-default btn-xs" href="/edit/persona/{{dato.id}}/"><span class="glyphicon glyphicon-search"></span>Editar</a></td>
    			</tr>
    		</tbody>
			 
		{% empty %}
		<p>No hay personas registradas.</p>
		{% endfor %}
		</table>
	</div>
	

</ul>
{% endblock %}